body {
  background: linear-gradient(to right, #eef2f7, #f8f9fa);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Card Shadow & Hover */
.card {
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3);
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 6px 16px rgba(0, 123, 255, 0.5);
}
.border-start-yellow {
  border-left: 3px solid #FFD700 !important; /* Yellow */
}
.border-start-green {
  border-left: 3px solid #1caf09b9 !important; /* Yellow */
}
.border-start-blue {
  border-left: 3px solid #29f3e2b9 !important; /* sky blue */
}
.rotate-90 {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}


/* Tabs */
.nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: white;
  border-radius: 5px;
}

/* Card Header Clickable */
.card-clickable {
  cursor: pointer;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;
}
.card-clickable:hover {
  background-color: #e9ecef;
}

/* Dropdown Styling */
select.form-select-sm {
  background-color: #f1f3f5;
}

/* Form spacing */
label {
  font-weight: 500;
}


/* -------- Declaration & Checkbox -------- */
.declaration-points {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
}

.declaration-points li {
    margin-bottom: 4px;
}

.declaration-link {
    color: blue;
    text-decoration: underline;
    font-weight: 500;
}

.declaration-link:hover {
    color: darkblue;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 4px;
    line-height: 1.2;
    animation: blinkError 0.8s step-start 3;
}

@keyframes blinkError {
    50% { opacity: 0; }
}

.text-muted {
    display: block;
    color: #777;
    font-size: 13px;
    margin: 2px 0;
}

h3 {
    margin-top: 35px;
    margin-bottom: 15px;
    color: #2c3e50;
    font-size: 20px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 6px;
}